Repository ACFHarbinger/Pi-Assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: npm run format
        language: system
        types_or: [ts, tsx]
        pass_filenames: false

Fixed some testing issues
  README.md
  coverage/base.css
  coverage/block-navigation.js
  coverage/clover.xml
  coverage/components/Settings.tsx.html
  coverage/components/index.html
  coverage/favicon.png
  coverage/index.html
  coverage/prettify.css
  coverage/prettify.js
  coverage/sort-arrow-sprite.png
  coverage/sorter.js
  coverage/stores/agentStore.ts.html
  coverage/stores/index.html
  justfile
  pyproject.toml
  src/tests/components/Settings.test.tsx
  src/tests/stores/agentStore.test.ts
  uv.lock
Due: prettier

Added conftest and fixtures
  README.md
  assets/images/background.jpg
  sidecars/logic/pyproject.toml
  sidecars/logic/tests/conftest.py
  sidecars/logic/tests/test_logic.py
  sidecars/shared/tests/conftest.py
  sidecars/shared/tests/fixtures/sample_soul.md
  sidecars/shared/tests/test_enums.py
  sidecars/shared/tests/test_ipc.py
  sidecars/shared/tests/test_personality.py
Due: none

Implemented cypress e2e tests
  cypress.config.ts
  cypress/e2e/dashboard.cy.ts
  cypress/e2e/hatching.cy.ts
  cypress/e2e/settings.cy.ts
  cypress/e2e/spec.cy.ts
  cypress/screenshots/dashboard.cy.ts/Dashboard -- allows entering a task (failed).png
  cypress/screenshots/dashboard.cy.ts/Dashboard -- displays dashboard components (failed).png
  cypress/support/commands.ts
  cypress/support/e2e.ts
  package-lock.json
  package.json
Due: prettier

Fixed tests
  cypress/e2e/dashboard.cy.ts
  cypress/screenshots/dashboard.cy.ts/Dashboard -- allows entering a task (failed).png
  cypress/screenshots/dashboard.cy.ts/Dashboard -- displays dashboard components (failed).png
  cypress/support/commands.ts
Due: prettier

Moved code into ml zoo subrepo
  pyproject.toml
  sidecars/logic/README.md
  sidecars/logic/pyproject.toml
  sidecars/logic/src/pi_sidecar/configs/__init__.py
  sidecars/logic/src/pi_sidecar/configs/model.py
  sidecars/logic/src/pi_sidecar/configs/run.py
  sidecars/logic/src/pi_sidecar/constants/__init__.py
  sidecars/logic/src/pi_sidecar/constants/personality.py
  sidecars/logic/src/pi_sidecar/enums/__init__.py
  sidecars/logic/src/pi_sidecar/enums/run.py
  sidecars/logic/src/pi_sidecar/logic_main.py
  sidecars/logic/src/pi_sidecar/personality.py
  sidecars/logic/tests/conftest.py
  sidecars/logic/tests/test_logic.py
  sidecars/ml/pyproject.toml
  sidecars/shared/README.md
  sidecars/shared/pyproject.toml
  sidecars/shared/src/pi_sidecar/constants/__init__.py
  sidecars/shared/src/pi_sidecar/constants/personality.py
  sidecars/shared/src/pi_sidecar/enums/__init__.py
  sidecars/shared/src/pi_sidecar/enums/run.py
  sidecars/shared/src/pi_sidecar/ipc/__init__.py
  sidecars/shared/src/pi_sidecar/ipc/ndjson_transport.py
  sidecars/shared/src/pi_sidecar/personality.py
  sidecars/shared/tests/conftest.py
  sidecars/shared/tests/fixtures/sample_soul.md
  sidecars/shared/tests/test_enums.py
  sidecars/shared/tests/test_ipc.py
  sidecars/shared/tests/test_personality.py
  src-tauri/src/ipc/sidecar.rs
  src-tauri/src/state.rs
Due: cargo-fmt

Added anthropic and local models providers
  sidecars/ml/pyproject.toml
  src-tauri/src/commands/config.rs
  src-tauri/src/ipc/sidecar.rs
  src-tauri/src/voice/mod.rs
  src/components/ChatInterface.tsx
  src/components/Settings.tsx
  src/stores/agentStore.ts
  uv.lock
Due: cargo-fmt, prettier

Fixed gpu offloading
  src-tauri/src/agent/monitor.rs
  src-tauri/src/commands/chat.rs
  src-tauri/src/lib.rs
  src-tauri/src/state.rs
  src/stores/agentStore.ts
Due: cargo-fmt, prettier

Implemented some fixes
  .github/workflows/ci.yml
  ROADMAP.md
  crates/pi-core/src/agent_types.rs
  src-tauri/src/agent/loop.rs
  src-tauri/src/agent/monitor.rs
  src-tauri/src/agent/planner.rs
  src-tauri/src/commands/agent.rs
  src-tauri/src/ipc/sidecar.rs
  src-tauri/src/lib.rs
  src/components/ChatInterface.tsx
  src/stores/agentStore.ts
  src/styles/index.css
Due: cargo-fmt, prettier

Implemented new features
  .gitignore
  Cargo.lock
  Cargo.toml
  ROADMAP.md
  crates/pi-ai/Cargo.toml
  crates/pi-ai/src/lib.rs
  crates/pi-core/Cargo.toml
  crates/pi-core/src/agent_types.rs
  crates/pi-core/src/lib.rs
  dist/assets/index-C6Ip7Eod.css
  dist/assets/index-Deut5-qw.js
  dist/assets/pi_ai_bg-BIsICo_k.wasm
  dist/assets/pi_core_bg-CUZtdJS7.wasm
  dist/index.html
  package-lock.json
  package.json
  src-tauri/src/agent/loop.rs
  src-tauri/src/commands/device.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
  src-tauri/src/tools/deployed_model.rs
  src-tauri/src/tools/mod.rs
  src/App.tsx
  src/components/Settings.tsx
  src/hooks/useClientAI.ts
  src/stores/agentStore.ts
  src/stores/deviceStore.ts
  vite.config.ts
Due: cargo-fmt, prettier

Started implementing roadmap
  src-tauri/src/state.rs
  src-tauri/src/tools/mod.rs
  src-tauri/src/tools/training.rs
Due: cargo-fmt

Started part 1 of the roadmap
  CHANGELOG.md
  Cargo.lock
  ROADMAP.md
  crates/pi-core/Cargo.toml
  crates/pi-core/migrations/20260201_create_subtasks.sql
  crates/pi-core/src/agent_types.rs
  crates/pi-core/src/lib.rs
  crates/pi-core/src/task_manager.rs
  src-tauri/src/agent/loop.rs
  src-tauri/src/memory/sqlite.rs
  src/App.tsx
  src/components/TaskTree.tsx
  src/stores/agentStore.ts
Due: cargo-fmt, prettier

Continued part 1 of the roadmap
  CHANGELOG.md
  ROADMAP.md
  crates/pi-core/src/agent_types.rs
  src-tauri/src/agent/cost.rs
  src-tauri/src/agent/loop.rs
  src-tauri/src/agent/mod.rs
  src-tauri/src/agent/monitor.rs
  src-tauri/src/commands/agent.rs
  src-tauri/src/ws/handler.rs
  src-tauri/src/ws/server.rs
  src/components/AgentStatus.tsx
  src/components/ChatInterface.tsx
  src/components/CostDashboard.tsx
  src/components/Settings.tsx
  src/stores/agentStore.ts
Due: cargo-fmt, prettier

Added tech badges
  .github/CONTRIBUTING.md
  AGENTS.md
  ARCHITECTURE.md
  DEPENDENCIES.md
  DEVELOPMENT.md
  README.md
  ROADMAP.md
  SECURITY.md
  TESTING.md
  TROUBLESHOOTING.md
  TUTORIAL.md
Due: none

Added dependabot
  .github/dependabot.yml
  CLAUDE.md
  GEMINI.md
Due: none

multi-agent support implementation
  CHANGELOG.md
  ROADMAP.md
  crates/pi-core/src/agent_types.rs
  src-tauri/src/agent/loop.rs
  src-tauri/src/agent/mod.rs
  src-tauri/src/agent/monitor.rs
  src-tauri/src/agent/planner.rs
  src-tauri/src/agent/pool.rs
  src-tauri/src/channels/discord.rs
  src-tauri/src/commands/agent.rs
  src-tauri/src/commands/chat.rs
  src-tauri/src/commands/voice.rs
  src-tauri/src/cron/mod.rs
  src-tauri/src/lib.rs
  src-tauri/src/voice/mod.rs
  src-tauri/src/ws/handler.rs
  src-tauri/src/ws/server.rs
  src/App.tsx
  src/components/AgentSelector.tsx
  src/components/AgentStatus.tsx
  src/components/ChatInterface.tsx
  src/components/CostDashboard.tsx
  src/components/PermissionDialog.tsx
  src/components/TaskInput.tsx
  src/stores/agentStore.ts
  src/tests/stores/agentStore.test.ts
Due: cargo-fmt, prettier

Training Dashboard
  CHANGELOG.md
  ROADMAP.md
  src/App.tsx
  src/components/TrainingDashboard.tsx
  src/stores/trainingStore.ts
Due: prettier

Continued implementing the roadmap
  CHANGELOG.md
  Cargo.lock
  ROADMAP.md
  src-tauri/Cargo.toml
  src-tauri/src/agent/executor.rs
  src-tauri/src/agent/loop.rs
  src-tauri/src/agent/mod.rs
  src-tauri/src/agent/transaction.rs
  src-tauri/src/commands/agent.rs
  src-tauri/src/lib.rs
  src-tauri/src/memory/sqlite.rs
  src-tauri/src/safety/permission.rs
  src-tauri/src/tools/api.rs
  src-tauri/src/tools/browser.rs
  src-tauri/src/tools/canvas.rs
  src-tauri/src/tools/code.rs
  src-tauri/src/tools/cron.rs
  src-tauri/src/tools/database.rs
  src-tauri/src/tools/deployed_model.rs
  src-tauri/src/tools/diagram.rs
  src-tauri/src/tools/mcp.rs
  src-tauri/src/tools/mod.rs
  src-tauri/src/tools/sessions.rs
  src-tauri/src/tools/shell.rs
  src-tauri/src/tools/training.rs
  src/App.tsx
  src/components/ExecutionTimeline.tsx
Due: cargo-fmt, prettier

Continued implementing the roadmap 2
  CHANGELOG.md
  Cargo.lock
  ROADMAP.md
  src-tauri/Cargo.toml
  src-tauri/src/agent/loop.rs
  src-tauri/src/ipc/sidecar.rs
  src-tauri/src/lib.rs
  src-tauri/src/memory/mod.rs
  src-tauri/src/memory/sqlite.rs
  src-tauri/src/memory/summarization.rs
  src-tauri/src/memory/vector.rs
  src-tauri/src/safety/permission.rs
  src-tauri/src/state.rs
  src-tauri/src/tools/database.rs
  src-tauri/src/tools/graph.rs
  src-tauri/src/tools/knowledge.rs
  src-tauri/src/tools/mod.rs
  src-tauri/src/tools/rag.rs
  src-tauri/src/tools/shell.rs
  src-tauri/src/tools/system.rs
  src/App.tsx
  src/components/ResourceMonitor.tsx
  src/components/TrainingDashboard.tsx
  src/stores/resourceStore.ts
  src/stores/trainingStore.ts
Due: cargo-fmt, prettier

Fixed issue
  src-tauri/src/ipc/sidecar.rs
  src-tauri/src/state.rs
Due: cargo-fmt

Created improvement guide for human understanding
  CHANGELOG.md
  READABILITY_ROADMAP.md
  ROADMAP.md
Due: none

Added testing coverage files to gitignore
  .gitignore
  coverage/base.css
  coverage/block-navigation.js
  coverage/clover.xml
  coverage/components/Settings.tsx.html
  coverage/components/index.html
  coverage/favicon.png
  coverage/index.html
  coverage/prettify.css
  coverage/prettify.js
  coverage/sort-arrow-sprite.png
  coverage/sorter.js
  coverage/stores/agentStore.ts.html
  coverage/stores/index.html
Due: none
